.corpo-html {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

form {
    display: flex;
    flex-direction: column;
}

form p {
    margin-bottom: 15px;
}

input, button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
}

button {
    text-align: center;
}

.titulo-header {
    width: 100%; /* Ocupa toda a largura da tela */
    height: 80px; /* Altura maior para o cabeçalho */
    background-color: #000000; /* Cor de fundo escura */
    color: white; /* Cor do texto */
    display: flex;
    align-items: center; /* Alinha o texto verticalmente no meio */
    justify-content: center; /* Alinha o texto horizontalmente no meio */
    position: fixed; /* Fixa o cabeçalho no topo da página */
    top: 0; /* Fixa no topo da página */
    left: 0; /* Fixa no lado esquerdo */
    z-index: 1000; /* Garante que o cabeçalho fique sobre os outros elementos */
}

